* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background: rgb(75, 156, 221);
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.board__cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board__cell:nth-of-type(2),
.board__cell:nth-of-type(5),
.board__cell:nth-of-type(8) {
    border-left: 7px solid rgb(44, 112, 168);
    border-right: 7px solid rgb(44, 112, 168);
}

.board__cell:nth-of-type(4),
.board__cell:nth-of-type(5),
.board__cell:nth-of-type(6) {
    border-top: 7px solid rgb(44, 112, 168);
    border-bottom: 7px solid rgb(44, 112, 168);
}

.board__cell > * {
    width: 83px;
    height: 83px;
}

.overlay {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .7);
}

.overlay .content {
    margin-top: 40px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: white;
}

.overlay .content h1 {
    margin-bottom: 7px;
}

.overlay .content button {
    margin-top: 180px;
    padding: 16px 30px;
    font-size: 20px;
    color: white;
    background: rgb(238, 134, 49);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.overlay .content button:hover {
    filter: brightness(110%);
}

.overlay .content button:active {
    transform: translateY(2px);
}